// Colors
$background-color: #3B424D;
$text-color: #CCC;
$selection-color: #99A6B2;
$color-accent: white;
$text-shadow-color: $background-color;

$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

@import "~bulma/bulma.sass";
@import '~prismjs/themes/prism-tomorrow';

html, body {
    background-color: $text-color;
}

::selection,
::-webkit-selection,
::-moz-selection {
    background: $selection-color;
}

.anchor,
.footnote-backref {
    color: white;
    opacity: 0.7;

    svg {
        fill: currentColor;
    }

    &:hover {
        color: white;
        opacity: 0.9;
    }
}

.app {
    background-color: $background-color;
    min-height: 100vh;

    pre,
    code,
    :not(pre) > code[class*="language-"],
    pre[class*="language-"],
    .token {
        background-color: #4F5B6B;
        font-family: 'Menlo', 'Consolas', monospace;
    }

    pre {
        box-shadow: 0 8px 38px -12px rgba(0,0,0,.56), 0 2px 25px 0 rgba(0,0,0,.12), 0 4px 10px -5px rgba(0,0,0,.2);
        border-radius: 4px;
    }

    .navbar {
        background: none;

        #site-nav {
            background-color: $background-color;
        }

        .navbar-brand a {
            text-decoration: none;
        }
        
        .navbar-item, .navbar-burger {
            color: $text-color;

            &:active,
            &:focus,
            &:hover {
                color: #FFF;
            }
        }

        .navbar-menu a {
            text-decoration: none;
            padding-bottom: 8px;
          
            &:before,
            &:after {
                content: '';
                position: absolute;
                bottom: 2px;
                left: 0; right: 0;
                height: 2px;
                background-color: $white;
            }
            
            &:before {
                opacity: 0;
                transform: translateY(- $distance);
                transition: transform 0s $easeOutBack, opacity 0s;
            }

            &:after {
                opacity: 0;
                transform: translateY($distance/2);
                transition: transform $duration $easeOutBack, opacity $duration;
            }

            &:active,
            &:hover,
            &:focus {
                &:before,
                &:after {
                    opacity: 1;
                    transform: translateY(0);
                }
                &:before {
                    transition: transform $duration $easeOutBack, opacity $duration;
                }
                &:after {
                    transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
                }
            }

            &.item-active {
                &:after {
                    opacity: 1;
                    transform: translateY(0);
                    transition: none;
                    background-color: $text-color;
                }
            }
        }
    }
}

.hero-foot, .site-footer {
    color: $text-color;
}

.home {
    .title {
        border-bottom: none;
        color: $text-color;
        letter-spacing: 0.1em;
    }

    .subtitle {
        border-bottom: none;
        color: $white;
    }
}

a:not(.navbar-burger):not(.navbar-item):not(.anchor):not(.footnote-backref) {
    color: $color-accent;
    opacity: 0.7;
    text-decoration: none;
    text-shadow:
        0px -2px 0 $text-shadow-color,  0px -1px 0 $text-shadow-color,  0px 0px 0 $text-shadow-color,
        2px -2px 0 $text-shadow-color,  2px -1px 0 $text-shadow-color,  2px 0px 0 $text-shadow-color,
        -2px -2px 0 $text-shadow-color, -2px -1px 0 $text-shadow-color, -2px 0px 0 $text-shadow-color,
        1px -2px 0 $text-shadow-color,  1px -1px 0 $text-shadow-color,  1px 0px 0 $text-shadow-color,
        -1px -2px 0 $text-shadow-color, -1px -1px 0 $text-shadow-color, -1px 0px 0 $text-shadow-color,
        0px -2px 0 $text-shadow-color,  0px -1px 0 $text-shadow-color,  0px 0px 0 $text-shadow-color;
    box-shadow:
        0 -1px 0 0 $text-shadow-color inset,
        0 -2px 0 0 transparent inset;
    
    transition: all .3s ease-in;
  
    &:active,
    &:focus,
    &:hover {
        color: white;
        opacity: 0.9;
        transition: all .3s ease-out;
        box-shadow:  0 -1px 0 0 $text-shadow-color inset, 0 -2px 0 0 $color-accent inset;
    }

    &::selection {
        color: $text-shadow-color; background: $color-accent;
        text-shadow: none;
    }
}

h1, h2 {
    a {
        box-shadow: 0 -1px 0 0 white inset, 0 -3px 0 0 transparent inset;
        
        &:hover {
            transition: all .3s ease-out;
            box-shadow:  0 -1px 0 0 white inset, 0 -3px 0 0 $color-accent inset;
        }
    }
}

.blog {
    .container {
        max-width: 34em;
    }
    
    .content {
        padding: 0.5em 2em;
    }

    p {
        color: white;
        opacity: 0.8;
    }

    span {
        color: white;
        opacity: 0.5;
    }

}

.post {

    h1 {
        border-bottom: none;
    }
    
    color: white;

    .container {
        max-width: 60em;
    }

    .post-content {
        margin: 0 auto;
        max-width: 40em;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong {
        color: white;
    }

    hr {
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        max-width: 33%;
        opacity: 0.5;
    }

    h3 {
        opacity: 0.8 ;
    }

    p {
        opacity: 0.8;
    }

    .details {
        font-size: 12px;
        letter-spacing: 1.3px;
    }

    .gatsby-resp-image-background-image {
        box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
        border-radius: 10px;

        img,
        picture,
        source {
            border-radius: 10px;
        }
    }

    $toc-indicator-size: 12px;

    h2.toc {
        position: fixed;
        top: 22vh;
        left: 50px;
    }

    div.toc {
        position: fixed;
        top: 30vh;
        left: 50px;
        width: 200px;
        font-family: sans-serif;
        font-size: $toc-indicator-size;
        line-height: $toc-indicator-size;
        backface-visibility: hidden;
    
        ul {
            position: relative;
            margin: 0;
            padding: 0;
            list-style-type: none;
            
            &:before {
                content: "";
                display: block;
                position: absolute;
                left: ($toc-indicator-size / 2);
                background-color: white;
                opacity: 0.5;
                width: 1px;
                height: 100%;
            }
        }
        
        li {
            &:not(:last-child) {
                a {
                    margin-bottom: $toc-indicator-size;
                }
            }
            
            a {
                display: block;
                position: relative;
                left: ($toc-indicator-size * 2);
                color: transparent !important;
                text-decoration: none;
                transition: 0.2s ease-in-out !important;
                text-shadow: none !important;
                font-size: 12px;
                letter-spacing: 1.2px;
                font-family: 'Didact Gothic', sans-serif;
            
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: ($toc-indicator-size * -2);
                    height: $toc-indicator-size;
                    width: $toc-indicator-size;
                    background-color: white;
                    border-radius: 50%;
                    box-shadow: 0px 0px 0px 1px white !important;
                    opacity: 0.5;
                }
                
                &:hover {
                    box-shadow: none !important;
                    color: white !important;
                    opacity: 0.8;
                    
                    &:before {
                        box-shadow: 0 0 0 2px white !important;
                        opacity: 0.5;
                    }
                }
            }
            &.selected {
                a {
                    &:before {
                        background-color: white;
                        opacity: 0.5;
                    }
                }
            }
        }
        
        /* touch device overrides */
        .touch & {
            li {
                a {
                    color: white;
                    opacity: 0.5;
                }
            }
        }
    }
}

.project.gatsby-image-wrapper {

    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.4), 0 0 0 1px rgba(0,0,0,0.16);
    border-radius: 4px;
    border: 0;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;

    .gatsby-image-outer-wrapper:active &,
    .gatsby-image-outer-wrapper:focus &,
    .gatsby-image-outer-wrapper:hover & {
        box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
        opacity: 1;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }
}

.modal div,
.modal p {
    color: #3B424D;
}

.modal button.modal-close,
.modal button.modal-close {
    &::before,
    &::after {
        background-color: #3B424D;
    }

    &:active,
    &:focus,
    &:hover {
        &::before,
        &::after {
            background-color: $white;
        }
    }
}

.modal-background {
    background-color: #CCC;
}
